.main {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  gap: 64px;
  padding: 56px 64px;
  align-items: center;
  overflow: hidden;
}

.copy {
  max-width: 520px;
}

.muted {
  font-family: monospace;
  font-size: large;
  color: #90A1B9;
  opacity: 0.6;
  margin-bottom: 12px;
}

.copy h1 {
  font-size: 52px;
  color: rgb(225, 225, 225);
  font-weight: 600;
  letter-spacing: -0.5px;
  margin: 0 0 12px;
}

.copy h2 {
  font-family: monospace;
  color: #7c8cff;
  font-size: 20px;
  margin-bottom: 8px;
}

.languages {
  opacity: 0.5;
  font-size: 14px;
  margin-bottom: 32px;
}

.code {
  font-family: monospace;
  font-size: 14px;
  line-height: 1.6;
  color: #8bd1a8;
  background: rgba(0, 0, 0, 0.2);
  padding: 16px 20px;
  border-radius: 12px;
}

.snakePanel {
  width: 100%;
  max-width: 760px;
  height: 50vh;
  width: 40vw;

  background: linear-gradient(160deg, #2e5f60, #3c4a7a);
  border-radius: 20px;
  padding: 24px;

  box-shadow:
    inset 0 0 0 1px rgba(255,255,255,0.15),
    0 20px 40px rgba(0,0,0,0.4);
}


.start {
  background: #f4c67a;
  border: none;
  border-radius: 8px;
  padding: 8px;
  font-family: monospace;
}

.skip {
  background: none;
  color: white;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 8px;
}

/* Mobile */
@media (max-width: 768px) {
  .main {
    grid-template-columns: 1fr;
  }

  .snakePanel {
    display: none;
  }
}